.auth-container {
	width: 500px;
	height: 650px;
	border: 1px #0059b3 solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.auth-header {
	flex: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bolder;
}

.auth-footer {
	flex: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	flex: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

input:not([type=button]) {
	width: 80%;
	height: 40px;
	background: none;
	border-style: none;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px white solid;
}

input:not([type=button]):placeholder-shown {
	border-bottom: 1px #0059b3 solid;
}

input[type=button] {
	background: none;
	color: white;
	border: none;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

input[type=button]:hover {
	color: rgb(2, 255, 15);
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

a:hover {
	color: rgb(255, 145, 145)
}

.error-text {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.error_input {
	color: red !important;
	border-bottom: 1px red solid !important;
}